venv/

.env

__pycache__/

*.pyc

data/raw/*
!data/raw/.gitkeep

data/processed/*
data/processed/arxiv_metadata.json
!data/processed/extracted_text/
data/processed/extracted_text/*
!data/processed/extracted_text/.gitkeep