fastapi

uvicorn

sqlalchemy

psycopg[binary]

python-dotenv

requests

pymupdf

alembic

pgvector

sentence-transformers

pytest

rank-bm25

openai

pwdlib[argon2]

PyJWT

python-multipart

pydantic[email]

httpx

celery[redis]

redis